* 
!*/
# set special file type
!*.py
!*.R
!*.ipynb
# !*.pdf
# !*.html
# !*.png
# !*.jpg
# !*.jpeg
# !*.svg
!*.md
!*.gitignore
!*.smk
!Snakefile
!Figure/*.svg
!Figure/*.png
!.Rprofile
!*.yml
!renv/*
!renv.lock

.ipynb_checkpoints
.vscode
.snakemake
.Rproj.user

tmp
source
final
env


vdj/immcatation/source
vdj/VDJtools/vdjtools
vdj/VDJview/
vdj/platypus
tcr_vdj/VDJtools/vdjtools
tcr_vdj/publication/vdjtools
tcr_vdj/immcatation

**/vdjtools
.virtual_documents